.transparent-square{
    width: 30%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0px;
    top: 20%;
    z-index: 1;
}

.image{
    height: 100%;
    display: grid;
    max-width: 30%;
    max-height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.white-square{
    background-color: rgb(255, 255, 255);
    height: 30%;
    width: 70%;
    position: absolute;
    right: 0px;
    top: 38.7%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.logo{
    width: 6%;
    position: absolute;
    left: 7%;
    top: 21.5%;
    z-index: 1;
}

.odin{
    font-family: Norse;
    color: white;
    z-index: 1;
    position: absolute;
    left: 13%;
    top: 14.5%;
    font-size: 120px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    position:fixed;
    bottom: 2px;
    left: 8.5%;
    color: white;
    opacity: 0.75;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    bottom: 5%;
    left: 7%;
    color: white;
}

.italic{
    font-style: italic;
}

.text{
    color: black;
    font-weight: bold;
    position: fixed;
    right: 25%;
    top: 13%;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.second-line{
    display: block;
    margin-top: 20px;
}

button{
    position: absolute;
    background-color: rgb(81, 114, 81);
    color: white;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: 17px 53px;
    font-size: 20px;
    bottom: 21%;
    left: 33%;
}

h3{
    position: absolute;
    color: black;
    right: 52%;
    bottom: 13%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 100;
}

.greenlog{
    color: rgb(49, 92, 49);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.dothis{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    right: 57.8%;
    bottom: 52%;
    font-size: 25px;
    font-weight: 600;
}

.input-group label{
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    position: absolute;
    right: 58.7%;
    bottom: 51.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

.input-group input{
    width: 12%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    right: 53.3%;
    bottom: 49%;
    position: absolute;
}

.input-group2 label{
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    position: absolute;
    right: 62.3%;
    bottom: 44%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

.input-group2 input{
    width: 12%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    right: 53.3%;
    bottom: 41.5%;
    position: absolute;
}

.input-group3 label{
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    position: absolute;
    right: 59.7%;
    bottom: 36.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

.input-group3 input{
    width: 12%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    right: 53.3%;
    bottom: 34%;
    position: absolute;
}

.input-group4 label{
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    position: absolute;
    right: 41.9%;
    bottom: 51.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

.input-group4 input{
    width: 12%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    right: 36%;
    bottom: 49%;
    position: absolute;
}

.input-group5 label{
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    position: absolute;
    right: 39.5%;
    bottom: 44%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

.input-group5 input{
    width: 12%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    right: 36%;
    bottom: 41.5%;
    position: absolute;
}

.input-group6 label{
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    position: absolute;
    right: 36.4%;
    bottom: 36.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

.input-group6 input{
    width: 12%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    right: 36%;
    bottom: 34%;
    position: absolute;
}
